h1 {
  font-size: 22px;
  color: rgb(0, 32, 3);
}

h2 {
  font-size: 20px;
  color: rgb(0, 32, 3);
}

body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}
.button-link {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 8px;
  background-color:rgb(0, 107, 36);
  color: #fff !important;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
}
.button-link:hover {
  background-color:rgb(0, 189, 63);
}
.input-wide {
  width: 300px;
}


input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: sans-serif;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
  padding: 10px 0;
}

.row.header {
  background-color: #f5f5f5;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.cell {
  flex: 1;
  padding: 8px 12px;
  word-wrap: break-word;
}


.center-text {
  text-align: center;
}

textarea {
  font-size: 14px;
}